
.checkout-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}


.credit-card-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}


.card-logo {
    width: 50px;
    height: auto;
}


.credit-card-box input {
    border-radius: 6px;
}

.text-danger {
    font-size: 0.85rem;
}


